In [16]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Mini\AppData\Local\Programs\Python\Python38-32\Card_Rate_history.csv")
data.shape

(1769420, 22)

In [3]:
data.head()

,MONTH_YEAR,FROM_STN,TPT_1,KMS_1,RATE_1,TPT_2,KMS_2,RATE_2,TPT_3,KMS_3,...,KMS_4,RATE_4,TPT_5,KMS_5,RATE_5,TO_STN,D_KMS,HANDLING,IND_COST,CARD_RATE
0,32019,GTR,VNP,320.0,0.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,VNP,NaN,NaN,KRM,160,0.32,0.68,2.95
1,32019,GTR,VNP,320.0,0.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,ADG,600.0,2.13,BKT,135,0.30,1.25,5.43
2,32019,GTR,VNP,320.0,0.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,VDM,500.0,1.53,BTB,20,0.31,1.00,4.33
3,32019,GTR,VNP,320.0,0.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NLM,565.0,2.30,TCD,130,0.29,1.36,5.90
4,32019,GTR,VNP,320.0,0.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NLM,565.0,2.30,TTE,276,0.29,1.33,5.75

In [4]:
li={"from_stn":data["FROM_STN"], "tpt_1":data["TPT_1"], "tpt_2":data["TPT_2"], "tpt_3":data["TPT_3"], "tpt_4":data["TPT_4"], "tpt_5":data["TPT_5"], "to_stn":data["TO_STN"]}

In [5]:
data=pd.DataFrame(li)
data.head()

  from_stn tpt_1 tpt_2 tpt_3 tpt_4 tpt_5 to_stn
0      GTR   VNP   NaN   NaN   NaN   VNP    KRM
1      GTR   VNP   NaN   NaN   NaN   ADG    BKT
2      GTR   VNP   NaN   NaN   NaN   VDM    BTB
3      GTR   VNP   NaN   NaN   NaN   NLM    TCD
4      GTR   VNP   NaN   NaN   NaN   NLM    TTE

In [18]:
df={"from_stn":data["from_stn"], "to_stn":data["tpt_1"]}
df=pd.DataFrame(df)

In [23]:
df=df.drop_duplicates()

In [29]:
temp={"from_stn":data["tpt_1"], "to_stn":data["tpt_2"]}
temp=pd.DataFrame(temp)
df=df.append(temp)
df=df.drop_duplicates()

In [31]:
temp={"from_stn":data["tpt_2"], "to_stn":data["tpt_3"]}
temp=pd.DataFrame(temp)
df=df.append(temp)
df=df.drop_duplicates()

In [33]:
temp={"from_stn":data["tpt_3"], "to_stn":data["tpt_4"]}
temp=pd.DataFrame(temp)
df=df.append(temp)
df=df.drop_duplicates()

In [35]:
temp={"from_stn":data["tpt_4"], "to_stn":data["tpt_5"]}
temp=pd.DataFrame(temp)
df=df.append(temp)
df=df.drop_duplicates()

In [37]:
temp={"from_stn":data["tpt_5"], "to_stn":data["to_stn"]}
temp=pd.DataFrame(temp)
df=df.append(temp)
df=df.drop_duplicates()

In [38]:
df.shape

(1500, 2)

In [43]:
df=df.dropna()

In [53]:
df.shape

(1431, 2)

In [45]:
df.isnull().sum()

from_stn    0
to_stn      0
dtype: int64

In [51]:
df.to_csv (r"C:\Users\Mini\AppData\Local\Programs\Python\Python38-32\FROMTO_STN.csv", index = False, header=True)