In [13]:
import pandas as pd
import random

In [14]:
df=pd.DataFrame(columns=["x1","x2","x3","y"])
df

Empty DataFrame
Columns: [x1, x2, x3, y]
Index: []

In [15]:
for i in range(0,1000):
    x1=round(random.uniform(1,5),2)
    x2=round(random.uniform(6,8),2)
    x3=round(random.uniform(1,15),2)
    temp={"x1":x1, "x2":x2, "x3":x3, "y":round((0.5*x1+0.2*x2+1.1*x3+random.uniform(1,2)),2)}
    temp=pd.DataFrame(temp,index=[i])
    df=df.append(temp)

In [20]:
df.shape

(1000, 4)

In [21]:
df.drop_duplicates()

       x1    x2     x3      y
0    4.98  7.01   2.91   8.80
1    4.89  7.25   3.63   9.07
2    4.63  6.26  13.35  19.93
3    2.12  6.82  10.24  15.03
4    2.03  7.04   6.83  11.38
..    ...   ...    ...    ...
995  1.52  6.40   7.64  12.00
996  3.52  7.24   9.61  15.15
997  4.93  6.78  12.91  19.94
998  3.49  6.21   7.66  13.13
999  3.09  7.04   3.86   8.44

[1000 rows x 4 columns]

In [22]:
df.to_csv (r"C:\Users\Mini\AppData\Local\Programs\Python\Python38-32\Demand_data.csv", index = False, header=True)